In [8]:
import pandas as pd
df = pd.read_excel('/Users/souadmouajel/Desktop/Ironhack/lab-sessions/week-2/project-week2/GSAF5.xls')
df.head()

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,2025-06-17 00:00:00,2025.0,Unprovoked,USA,South Carolina,Hilton Head Island,Swimming,Not stated,F,12,...,Not stated,Kevin McMurray Trackingsharks.com:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2025-06-11 00:00:00,2025.0,Unprovoked,USA,Florida,Boca Grande,Snorkeling,Leah Lendel,F,9,...,Bull shark,Kevin McMurray Trackingsharks.com: James Kings...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2025-05-29 00:00:00,2025.0,Unprovoked,USA,North Carolina,Sunset Beach,Swimming,Sean Barton,M,26,...,Not stated,Kevin McMurray Trackingsharks.com: Clay Crewel...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2025-05-26 00:00:00,2025.0,Unprovoked,Vanuatu,South Santo,Espiitu Santo Island,Swimming,Tumas,M,14,...,Not stated,Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2025-05-15 00:00:00,2025.0,Unprovoked,Australia,South Australia,Port Noarlunga,Swimming,Richard Vinall,M,66,...,Not stated,Simon DeMarchi: Todd Smith: 9 News:ABC News,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7020 entries, 0 to 7019
Data columns (total 23 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            7020 non-null   object
 1   Year            7018 non-null   float64
 2   Type            7002 non-null   object
 3   Country         6970 non-null   object
 4   State           6535 non-null   object
 5   Location        6454 non-null   object
 6   Activity        6435 non-null   object
 7   Name            6801 non-null   object
 8   Sex             6441 non-null   object
 9   Age             4026 non-null   object
 10  Injury          6985 non-null   object
 11  Fatal Y/N       6459 non-null   object
 12  Time            3494 non-null   object
 13  Species         3889 non-null   object
 14  Source          7001 non-null   object
 15  pdf             6799 non-null   object
 16  href formula    6794 non-null   object
 17  href            6796 non-null   object
 18  Case Number     6798 non-null   object
 19  Case Number.1   6797 non-null   object
 20  original order  6799 non-null   float64
 21  Unnamed: 21     1 non-null      object
 22  Unnamed: 22     2 non-null      object
dtypes: float64(2), object(21)
memory usage: 1.2+ MB

In [53]:
df["Type"].tail()

7015    Unprovoked
7016    Unprovoked
7017    Unprovoked
7018    Unprovoked
7019    Unprovoked
Name: Type, dtype: object

In [8]:
df["Injury"].isnull().sum()

35

In [10]:
df["Time"].isnull().sum()

3526

In [16]:
df["Date"].isnull

<bound method Series.isnull of 0       2025-06-17 00:00:00
1       2025-06-11 00:00:00
2       2025-05-29 00:00:00
3       2025-05-26 00:00:00
4       2025-05-15 00:00:00
               ...
7015            Before 1903
7016            Before 1903
7017              1900-1905
7018              1883-1889
7019              1845-1853
Name: Date, Length: 7020, dtype: object>

In [76]:
df["Time"].value_counts().head(60)

Time
Afternoon         215
11h00             140
Morning           135
15h00             127
16h00             123
12h00             122
14h00             115
16h30              88
13h00              85
17h30              83
17h00              81
14h30              76
18h00              75
11h30              74
15h30              73
10h00              73
13h30              70
Night              64
10h30              61
09h00              61
08h00              43
12h30              42
Evening            39
09h30              38
18h30              36
07h30              35
Late afternoon     35
08h30              33
07h00              28
19h00              26
13h20              20
20h00              19
11h45              19
15h45              18
?                  18
17h15              18
11h15              18
14h45              18
16h45              17
10h45              16
Dusk               16
06h00              14
19h30              14
20h30              14
08h45              14
13h45              14
10h15              13
09h45              12
A.M.               12
12h15              12
P.M.               12
16h15              12
17h45              11
15h15              11
Early morning      11
06h30              11
Midday             11
12h45              10
14h20              10
13h15              10
Name: count, dtype: int64

In [12]:
import pandas as pd
import re

def clean_time(val):
    """
    Standardize time formats like '11h00' â†’ '11:00', keep words like 'Afternoon'.
    Handles NaN safely.
    """
    if pd.isna(val):
        return val  # Keep NaN as is

    val = str(val).strip()  # Convert to string, remove surrounding spaces
    
    # Regex to detect time patterns like 11h00, 16h30, etc.
    time_pattern = r'^(\d{1,2})h(\d{2})$'
    match = re.match(time_pattern, val, re.IGNORECASE)
    
    if match:
        hour = match.group(1).zfill(2)
        minute = match.group(2)
        return f"{hour}:{minute}"
    
    return val  # Return other values unchanged

# Example application
df['Cleaned_Time'] = df['Time'].apply(clean_time)

In [14]:
df['Cleaned_Time'].value_counts().head(60)

Cleaned_Time
Afternoon         215
11:00             140
Morning           136
15:00             127
16:00             123
12:00             122
14:00             116
16:30              88
13:00              85
17:30              83
17:00              81
14:30              76
18:00              75
11:30              75
10:00              73
15:30              73
13:30              70
Night              64
09:00              62
10:30              61
08:00              43
12:30              42
09:30              39
Evening            39
18:30              36
07:30              35
Late afternoon     35
08:30              33
07:00              28
19:00              26
13:20              20
11:45              19
20:00              19
15:45              18
14:45              18
11:15              18
?                  18
17:15              18
16:45              17
Dusk               16
10:45              16
20:30              14
06:00              14
13:45              14
19:30              14
08:45              14
10:15              13
16:15              12
09:45              12
P.M.               12
A.M.               12
12:15              12
Early morning      11
15:15              11
17:45              11
06:30              11
Midday             11
09:15              11
16:20              10
15:20              10
Name: count, dtype: int64

In [90]:
df['Cleaned_Time'].head(60)

0          1200hrs
1        12.11 hrs
2          1100hrs
3               pm
4          0945hrs
5       Not stated
6          1500hrs
7       Not stated
8       Not stated
9          1500hrs
10         1430hrs
11        1210 hrs
12         1340hrs
13         Unknown
14         1300hrs
15         0815hrs
16         1300hrs
17         1503hrs
18         1830hrs
19         1830hrs
20         Unknown
21        1645 hrs
22         1711hrs
23         1600hrs
24         1330hrs
25         1340hrs
26          1615hr
27          1710hr
28               ?
29               ?
30               ?
31          1637hr
32               ?
33               ?
34               ?
35              AM
36               ?
37               ?
38        16.30hrs
39              AM
40               ?
41               ?
42               ?
43               ?
44          1600hr
45               ?
46         11.30hr
47          1100hr
48          1735hr
49          11hr15
50          16hr15
51               ?
52               ?
53               ?
54          1100hr
55          1100hr
56    after 1200hr
57          1400hr
58            15.5
59           13:15
Name: Cleaned_Time, dtype: object

In [16]:
def clean_time(val):
    if pd.isna(val):
        return val

    val = str(val).strip().lower()

    # 1. Pattern: 4-digit time like '1200hrs', '1100hr', '0945hrs'
    match = re.match(r'^(\d{2})(\d{2})h?r?s?$', val)
    if match:
        hour = match.group(1).zfill(2)
        minute = match.group(2)
        return f"{hour}:{minute}"

    # 2. Pattern: Time with decimal separator e.g. '16.30hrs' or '12.11 hrs'
    match = re.match(r'^(\d{1,2})[.:](\d{2})h?r?s?$', val)
    if match:
        hour = match.group(1).zfill(2)
        minute = match.group(2)
        return f"{hour}:{minute}"

    # 3. Pattern: '11hr15' or '16hr15'
    match = re.match(r'^(\d{1,2})hr(\d{2})$', val)
    if match:
        hour = match.group(1).zfill(2)
        minute = match.group(2)
        return f"{hour}:{minute}"

    # 4. Pattern: Full hour only e.g. '1100hr'
    match = re.match(r'^(\d{2})(\d{2})hr$', val)
    if match:
        hour = match.group(1).zfill(2)
        minute = match.group(2)
        return f"{hour}:{minute}"

    # 5. Known irrelevant or unclear values â†’ Replace with NaN
    if val in ['?', 'unknown', 'not stated', 'am', 'pm', 'after 1200hr']:
        return None

    # 6. Leave descriptive labels like 'Afternoon', 'Morning', etc.
    return val

In [18]:
df['Cleaned_Time'] = df['Cleaned_Time'].apply(clean_time)

In [20]:
df['Cleaned_Time'].head(60)

0         12:00
1     12.11 hrs
2         11:00
3          None
4         09:45
5          None
6         15:00
7          None
8          None
9         15:00
10        14:30
11     1210 hrs
12        13:40
13         None
14        13:00
15        08:15
16        13:00
17        15:03
18        18:30
19        18:30
20         None
21     1645 hrs
22        17:11
23        16:00
24        13:30
25        13:40
26        16:15
27        17:10
28         None
29         None
30         None
31        16:37
32         None
33         None
34         None
35         None
36         None
37         None
38        16:30
39         None
40         None
41         None
42         None
43         None
44        16:00
45         None
46        11:30
47        11:00
48        17:35
49        11:15
50        16:15
51         None
52         None
53         None
54        11:00
55        11:00
56         None
57        14:00
58         15.5
59        13:15
Name: Cleaned_Time, dtype: object

In [22]:
import re

def clean_time(value):
    if pd.isna(value):
        return None

    value = str(value).strip().lower()

    # Recognize formats like 1200hrs, 16h15, 11.30hr, 15.5 etc.
    time_match = re.match(r'(\d{1,2})[h:.]?(\d{2})?', value)

    if time_match:
        hour = time_match.group(1)
        minute = time_match.group(2) if time_match.group(2) else "00"
        return f"{hour.zfill(2)}:{minute.zfill(2)}"

    # Keep descriptive times like Morning, Afternoon, etc.
    if any(phrase in value for phrase in ['morning', 'afternoon', 'evening', 'night', 'dusk', 'midday', 'early', 'late']):
        return value.title()

    return None

In [24]:
df['Cleaned_Time'] = df['Time'].apply(clean_time)

In [28]:
df['Cleaned_Time'].head(60)

0     12:00
1     12:11
2     11:00
3      None
4     09:45
5      None
6     15:00
7      None
8      None
9     15:00
10    14:30
11    12:10
12    13:40
13     None
14    13:00
15    08:15
16    13:00
17    15:03
18    18:30
19    18:30
20     None
21    16:45
22    17:11
23    16:00
24    13:30
25    13:40
26    16:15
27    17:10
28     None
29     None
30     None
31    16:37
32     None
33     None
34     None
35     None
36     None
37     None
38    16:30
39     None
40     None
41     None
42     None
43     None
44    16:00
45     None
46    11:30
47    11:00
48    17:35
49    11:00
50    16:00
51     None
52     None
53     None
54    11:00
55    11:00
56     None
57    14:00
58    15:00
59    13:15
Name: Cleaned_Time, dtype: object